.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover,
.link:focus,
.link:visited
{
    text-decoration: none;
    color: inherit;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.imgContainer {
    width: 1.5em;
    height: 1.5em;
}